section.location
    .location__container.container
        .contacts
            form(action="#").contacts__form.form
                h2.contacts__title.section-title have any questions?
                .form__col 
                    .form-contacts__input.input.input_contacts
                        label(for="con_name").input__label Name
                        input(type="text" placeholder="What is your name:" name="con_name" id="con_name" required).input__text
                    .form-contacts__input.input.input_contacts
                        label(for="con_phone").input__label Phone
                        input(type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"  placeholder="Your phone number:" name="con_phone" id="con_phone" required).input__text
                .form__col 
                    .form-contacts__input.input.input_contacts
                        label(for="con_quest").input__label Question
                        input(type="text" placeholder="I want to know:" name="con_quest" id="con_quest" required).input__text
                .form__col
                    .checkbox.checkbox_contacts
                        label(for="con_agree").checkbox__label 
                            input(type="checkbox", name="con_agree" id="con_agree" checked).checkbox__input
                            span.checkbox__text I agree to the processing of personal data
                .form__col
                    button(type="submit").form-contacts__btn.btn submit
        .location__content
            p.location__text Rostov-on-Don, Nansen St., 239 Shopping Center Decorum Tel +7 (928) 768 32 29    
            ul.social.location__social
                li.social__item 
                    a(href="#").social__link.social__link_messege
                li.social__item      
                    a(href="#").social__link.social__link_inst
            .map



        //- .contacts__adress Rostov-on-Don, Nansen St., 239 Shopping Center Decorum Tel +7 (928) 768 32 29
        //- .contacts__social
        //- ul.social
        //-     li.social__item 
        //-     li.social__item
    //-       .contacts__map