section.control-camera
    .control-camera__container.container
        h3.control-camera__title.section-title.section-title_camera online control
        .video
            iframe(src="https://www.youtube.com/embed/videoseries?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG"  allow="autoplay; encrypted-media" allowfullscreen).control-camera__video
            .video__control
                .video__play
        p.control-camera__text.line-text At each facility, a camera is installed that broadcasts the progress 
            | of work on the clock. At any time, you can go to our website and 
            | monitor the progress of work in your apartment. You can watch 
            | the live broadcast from one of our facilities! Leave a request 
            | below and you will receive a link to the broadcast.
        form(action="#").control-camera__form.form-control.form
            .form__col 
                .form-control__input.input
                    label(for="control_name").input__label Name
                    input(type="text" placeholder="What is your name:" name="control_name" id="control_name" required ).input__text
                .form-control__input.input
                    label(for="control_phone").input__label Phone
                    input(type="tel"  pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="Your phone number:" name="control_phone" id="control_phone" required ).input__text
                button(type="submit").form-control__btn.btn submit
            .form__col
                .checkbox
                    label(for="control_agree").checkbox__label 
                        input(type="checkbox", name="control_agree" id="control_agree" checked).checkbox__input
                        span.checkbox__text I agree to the processing of personal data