section.contacts
    form(action="#").contacts__form.form
        h2.contacts__title.section-title have any questions?
        .form__col 
            .form-control__input.input.input_contacts
                label(for="#").input__label Name
                input(type="text" placeholder="What is your name:").input__text
            .form-control__input.input.input.input_contacts
                label(for="#").input__label Phone
                input(type="text" placeholder="Your phone number:").input__text
        .form__col 
            .form-control__input.input.input_contacts
                label(for="#").input__label Question
                input(type="text" placeholder="I want to know:").input__text
        .form__col
            .checkbox.checkbox_contacts
                label(for="agree").checkbox__label 
                    input(type="checkbox", name="agree" id="agree").checkbox__input
                    span.checkbox__text I agree to the processing of personal data
        .form__col
            button(type="submit").form-contacts__btn.btn submit





        //- .contacts__adress Rostov-on-Don, Nansen St., 239 Shopping Center Decorum Tel +7 (928) 768 32 29
        //- .contacts__social
        //- ul.social
        //-     li.social__item 
        //-     li.social__item
    //-       .contacts__map