section.design-project
    .design-project__container.container
        h2.design-project__title.section-title.section-title_design-project design project
        p.design-project__dec Design project not only helps to make 
            |the repair of your apartment more modern, but 
            |also significantly reduces the cost of materials 
            |and reduces the time of repair work.
        ul.repair-list
            li.repair-list__item.repair
                img(src="img/furniture/design_1.jpg", alt="repair").repair__img
                .repair-benefits
                    h4.repair-benefits__title Mini
                    ul.benefits-list
                        li.benefits-list__item Measurement drawing
                        li.benefits-list__item Redevelopment
                        li.benefits-list__item Layout of furniture
                        li.benefits-list__item Plumbing plan. equipment
                    button(type="button").repair-benefits__btn.btn from 900 rub / m2
            li.repair-list__item.repair
                img(src="img/furniture/design_2.jpg", alt="repair").repair__img
                .repair-benefits
                    h4.repair-benefits__title Standard
                    ul.benefits-list 
                        li.benefits-list__item Measurement drawing
                        li.benefits-list__item Redevelopment
                        li.benefits-list__item Layout of furniture
                        li.benefits-list__item Plan of ceilings
                        li.benefits-list__item Floor Plan
                        li.benefits-list__item Electricians plan
                        li.benefits-list__item Lighting plan
                    button(type="button").repair-benefits__btn.btn from 1800 rub / m2
            li.repair-list__item.repair
                img(src="img/furniture/design_3.jpg", alt="repair").repair__img
                .repair-benefits
                    h4.repair-benefits__title Full
                    ul.benefits-list
                        li.benefits-list__item Measurement drawing
                        li.benefits-list__item Redevelopment
                        li.benefits-list__item Layout of furniture
                        li.benefits-list__item Plan of ceilings
                        li.benefits-list__item Floor Plan
                        li.benefits-list__item Electricians plan
                        li.benefits-list__item Lighting plan
                        li.benefits-list__item.hiden Wall reamers
                        li.benefits-list__item.hiden 3D visualization
                        li.benefits-list__item.hiden Bill of materials
                        li.benefits-list__item.hiden Departure for a selection of materials
                        li.benefits-list__item.hiden Furniture selection
                    button(type="button").repair-benefits__btn.btn from 4000 rub / m2