section.how-working
    .how-working__container.container
        h2.how-working__title How we are working
        .how-working__content
            .how-working__info.step
                .step__title 6 steps to  
                    span.title-line the goal
                .step__number 1/6
                .step__sub-title Departure for measurements premises
                p.step__text After your call, we go to you to consult and measure the 
                    | premises of your apartment. During our meeting, you can 
                    | ask absolutely any number of questions. 
                    |An appraiser-appraiser leaves to measure the room. 
                p.step__text He will advise you on the issues of repair technology, 
                    | apartment design, terms of repair of the apartment as a whole 
                    | and its individual stages.
                .nav-slider.how-working__nav-slider
                    button(type="button").nav-slider__prev
                    ul.dote-slider
                        li.dote-slider__item.active
                            button(type="button").dote-slider__btn
                        li.dote-slider__item
                            button(type="button").dote-slider__btn
                        li.dote-slider__item
                            button(type="button").dote-slider__btn
                        li.dote-slider__item
                            button(type="button").dote-slider__btn
                        li.dote-slider__item
                            button(type="button").dote-slider__btn
                        li.dote-slider__item
                            button(type="button").dote-slider__btn
                    button(type="button").nav-slider__next
            .how-working__steps.step-slide
                ul.step-list
                    li.step-list__item
                        button(type="button").step-list__btn.one-step.active
                            .one-step__title 01
                            .one-step__info Departure to room measurements
                    li.step-list__item
                        button(type="button").step-list__btn.one-step
                            .one-step__title 02
                            .one-step__info Compilation estimates
                    li.step-list__item
                        button(type="button").step-list__btn.one-step
                            .one-step__title 03
                            .one-step__info Development project design
                    li.step-list__item
                        button(type="button").step-list__btn.one-step
                            .one-step__title 04
                            .one-step__info Purchasing Supplies
                    li.step-list__item
                        button(type="button").step-list__btn.one-step
                            .one-step__title 05
                            .one-step__info Repair finishing work
                    li.step-list__item
                        button(type="button").step-list__btn.one-step
                            .one-step__title 06
                            .one-step__info Приемка-сдача работ
                .step-slide__pic
                    img(src="img/furniture/steps.jpg", alt="step").step-slide__img

