section.our-team
    .our-team__container.container
        h2.our-team__title.section-title.section-title_our-team  our team
        p.our-team__dec Our has helped to become happier for more than 
            | 500 families and we are not going to stop
        ul.team-list
            li.team-list__item.one-worker
                .one-worker__icon.one-worker__icon_idea
                .one-worker__pic
                    img(src="img/faces/1.jpg", alt="worker").one-worker__img
                .one-worker__info
                    .one-worker__name Dmitry tulyakov
                    .one-worker__position Project manager
                    .one-worker__experience Work experience 8 years
            li.team-list__item.one-worker
                .one-worker__icon.one-worker__icon_vectr
                .one-worker__pic
                    img(src="img/faces/2.jpg", alt="worker").one-worker__img
                .one-worker__info
                    .one-worker__name Larisa Kotlyarova
                    .one-worker__position Designer
                    .one-worker__experience Work experience 6 years
            li.team-list__item.one-worker
                .one-worker__icon.one-worker__icon_portfolio
                .one-worker__pic
                    img(src="img/faces/3.jpg", alt="worker").one-worker__img
                .one-worker__info
                    .one-worker__name Alexey Efimov
                    .one-worker__position Foreman
                    .one-worker__experience Work experience 12 years
        .our-team__container-text 
            p.our-team__text.line-text Each employee of our company is a qualified 
                | full-time specialist with work experience of 6 years.  
            p.our-team__text We do not have laborers and guest workers, each employee carries out work 
                | corresponding to his specialty.
