section.our-clients
    .our-clients__container.container
        h2.our-clients__title.section-title.section-title_our-clients  our clients
        p.our-clients__dec 80% of our customers recommend 
            | us to their friends and family.
        ul.clients-list
            li.clients-list__item.client
                .client__info
                    .client__pic
                        img(src="img/faces/lm_1.jpg", alt="client").client__img
                    .client__name Fedosova Maria Konstantinovna
                p.client__review I want to thank the guys for their work. 
                    |We put your shower part in repair. I am VERY grateful that 
                    |I referred to the repair as to my own. Great thanks i express 
                    |the project to georgia for its professionalism and approach. 
                    |The repair process was turned out in terms, faster than anticipated. 
                    |Team mobile and professional. Works performed qualitatively without comments. 
                    |Quality satisfied. Prices democratic. I recommend these masters.
                .client__plan
                    .client__meter 40 m2
                    .client__days 48 days
            li.clients-list__item.client
                .client__info
                    .client__pic
                        img(src="img/faces/lm_2.jpg", alt="client").client__img
                    .client__name Afanasyev Sergey Alexandrovich
                p.client__review I want to thank the guys for their work. 
                    |We put your shower part in repair. I am VERY grateful that 
                    |I referred to the repair as to my own. Great thanks i express 
                    |the project to georgia for its professionalism and approach. 
                    |The repair process was turned out in terms, faster than anticipated. 
                    |Team mobile and professional. Works performed qualitatively without comments. 
                    |Quality satisfied. Prices democratic. I recommend these masters.
                .client__plan
                    .client__meter 90 м2
                    .client__days 128 days
            li.clients-list__item.client
                .client__info
                    .client__pic
                        img(src="img/faces/lm_3.jpg", alt="client").client__img
                    .client__name Kiriev Egor Leonidovich
                p.client__review I want to thank the guys for their work. 
                    |We put your shower part in repair. I am VERY grateful that 
                    |I referred to the repair as to my own. Great thanks i express 
                    |the project to georgia for its professionalism and approach. 
                    |The repair process was turned out in terms, faster than anticipated. 
                    |Team mobile and professional. Works performed qualitatively without comments. 
                    |Quality satisfied. Prices democratic. I recommend these masters.
                .client__plan
                    .client__meter 56 m2
                    .client__days 86 days