section.projects
    .projects__container.container
        .projects__info
            h2.projects__title Completed 
                span.title-line projects
            p.projects__text Only a small part of the work performed 
                | by our company is presented on the site. For 14 years on 
                | in the construction market we have made happy more than 1000 families
            ul.about-design
                li.about-design__line
                    .about-design__title  City:
                    .about-design__title  apartment area:
                li.about-design__line
                    .about-design__info Rostov-on-Don LCD admiral
                    .about-design__info 81 m2
                li.about-design__line
                    .about-design__title Repair time:
                    .about-design__title Repair Cost:
                li.about-design__line
                    .about-design__info 3.5 months
                    .about-design__info Upon request
            .nav-slider.projects__nav-slider
                button(type="button").nav-slider__prev
                ul.dote-slider
                    li.dote-slider__item.active
                        button(type="button").dote-slider__btn
                    li.dote-slider__item
                        button(type="button").dote-slider__btn
                    li.dote-slider__item
                        button(type="button").dote-slider__btn
                button(type="button").nav-slider__next
        .projects__choice
            ul.name-design.projects__name-design
                li.name-design__item.active
                    button(type="button").name-design__btn Rostov-on-Don, Admiral
                li.name-design__item
                    button(type="button").name-design__btn Sochi Thieves
                li.name-design__item
                    button(type="button").name-design__btn Rostov-on-Don Patriotic
            .projects-slide__container
                ul.projects-slide
                    li.projects-slide__item 
                        img(src="img/furniture/slide_1.jpg", alt="furniture")
                    li.projects-slide__item
                        img(src="img/furniture/slide_2.jpg", alt="furniture")
            .projects-navigation
                button(type="button").projects-navigation__prev
                button(type="button").projects-navigation__next