section.types-repair
    .types-repair__container.container
        h2.types-repair__title.section-title.section-title_types-repair types of repair
        .types-repair__types
            ul.repair-list
                li.repair-list__item.repair
                    img(src="img/furniture/1.jpg", alt="repair").repair__img
                    .repair-benefits
                        h4.repair-benefits__title Redecorating
                        ul.benefits-list
                            li.benefits-list__item Dismantling of old coatings 
                            li.benefits-list__item Wallpapering
                            li.benefits-list__item Painting walls and ceilings
                            li.benefits-list__item Laying flooring
                            li.benefits-list__item Replacing plumbing
                            li.benefits-list__item Replacing sockets and switches
                            li.benefits-list__item Replacing doors
                        button(type="button").repair-benefits__btn.btn from 900 rub / m2
                li.repair-list__item.repair
                    img(src="img/furniture/2.jpg", alt="repair").repair__img
                    .repair-benefits
                        h4.repair-benefits__title Overhaul
                        ul.benefits-list
                            li.benefits-list__item Dismantling of old coatings 
                            li.benefits-list__item Wallpapering
                            li.benefits-list__item Painting walls and ceilings
                            li.benefits-list__item Laying flooring
                            li.benefits-list__item Replacing plumbing
                            li.benefits-list__item Replacing sockets and switches
                            li.benefits-list__item Replacing doors
                        button(type="button").repair-benefits__btn.btn from 1800 rub / m2
                li.repair-list__item.repair
                    img(src="img/furniture/3.jpg", alt="repair").repair__img
                    .repair-benefits
                        h4.repair-benefits__title Designer Repair
                        ul.benefits-list
                            li.benefits-list__item Dismantling of old coatings 
                            li.benefits-list__item Wallpapering
                            li.benefits-list__item Painting walls and ceilings
                            li.benefits-list__item Laying flooring
                            li.benefits-list__item Replacing plumbing
                            li.benefits-list__item Replacing sockets and switches
                            li.benefits-list__item Replacing doors
                        button(type="button").repair-benefits__btn.btn from 4000 rub / m2