section.wildest
    .wildest__container.container
        .wildest__choice-style
            h2.wildest__title.section-title We realize your wildest fantasies
            ul.furniture-style
                li.furniture-style__item
                    button(type="button").furniture-style__link.active American classic
                li.furniture-style__item
                    button(type="button").furniture-style__link Empire
                li.furniture-style__item
                    button(type="button").furniture-style__link Classical
                li.furniture-style__item
                    button(type="button").furniture-style__link Loft
                li.furniture-style__item
                    button(type="button").furniture-style__link Minimalism
                li.furniture-style__item
                    button(type="button").furniture-style__link Provence
                li.furniture-style__item
                    button(type="button").furniture-style__link Romanticism
                li.furniture-style__item
                    button(type="button").furniture-style__link Scandinavian style
                li.furniture-style__item
                    button(type="button").furniture-style__link Mediterranean style
                li.furniture-style__item
                    button(type="button").furniture-style__link High tech
                li.furniture-style__item
                    button(type="button").furniture-style__link Eclecticism
        .wildest__choice-pic
            ul.furniture-pic
                li.furniture-pic__item
                    img(src="img/furniture/f1.jpg", alt="#").furniture-pic__img
                li.furniture-pic__item
                    img(src="img/furniture/f2.jpg", alt="#").furniture-pic__img
                li.furniture-pic__item
                    img(src="img/furniture/f3.jpg", alt="#").furniture-pic__img
                li.furniture-pic__item
                    img(src="img/furniture/f4.jpg", alt="#").furniture-pic__img