.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.visually-hidden,
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
