@font-face {
    font-family: "futura-medium";
    src: url("../fonts/futura-medium.woff2") format("woff2");
    src: url("../fonts/futura-medium.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "futura-medium";
    src: url("../fonts/futura-medium.woff2") format("woff2");
    src: url("../fonts/futura-medium.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "futurabookc";
    src: url("../fonts/futurabookc.woff2") format("woff2");
    src: url("../fonts/futurabookc.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "futurademic";
    src: url("../fonts/futurademic.woff2") format("woff2");
    src: url("../fonts/futurademic.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "yesevaone";
    src: url("../fonts/yesevaone.woff2") format("woff2");
    src: url("../fonts/yesevaone.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
    src: url("../fonts/ProximaNova-Regular.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}