header.header
    .header__container.container
        .logo
            h1.logo__title
                a(href="#").logo__link IC "Repair Design Project"
        nav.nav
            ul.nav-list
                li.nav-list__item
                    button(type="button").nav-list__btn.active home
                li.nav-list__item
                    button(type="button").nav-list__btn projects
                li.nav-list__item
                    button(type="button").nav-list__btn measurement
                li.nav-list__item
                    button(type="button").nav-list__btn team
                li.nav-list__item
                    button(type="button").nav-list__btn reviews
                li.nav-list__item
                    button(type="button").nav-list__btn contacts
        .phone
            a(href="tel:+79287683239").phone__link +7 (928) 768-32-39
        .request
            button(type="button").request__btn.btn request a call