.control-camera__container {
    width: 820px;
    .control-camera__text {
        margin-top: 60px;
        padding: 0 70px;
    }
    .control-camera__form {
        margin-top: 60px;
    }
    .control-camera__form {
        padding: 0 25px;
    }
}