.control-camera__container {
    width: 820px;
    .control-camera__text {
        margin-top: 91px;
        padding: 0 66px;
    }
    .control-camera__form {
        margin-top: 95px;
    }
    .control-camera__form {
        padding: 0 25px;
    }
}