.design-project {
    padding-top: 155px;
    .design-project__container{
        width: 1240px;
    }
    .design-project__dec {
        font-family: "futurabookc";
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #363636;
        width: 53%;
        margin: 0 auto;
        margin-bottom: 46px;
    }
    .repair-benefits {
        padding: 25px 35px 57px;
    } 
    .repair-benefits__btn{
        bottom: -30px;
    }
}