.footer {
    background-color: #131313;
    padding: 50px 0 44px;
    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1260px;
  
    }
    .footer__nav{
        padding-left: 33px;
    }
    .footer__phone{
        margin-left: 13px;
    }
}