.our-clients__dec {
    font-family: "futurabookc";
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.our-clients{
    padding-top: 67px;
    padding-bottom: 83px;
}
.our-clients__container{
    width: 1240px;
    padding-bottom: 300px;
}