.our-team__container {
    width: 1025px;
}

.our-team__dec {
    font-family: "futurabookc";
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
    width: 38%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.our-team__text {
    text-align: center;
    width: 61%;
    margin: 0 auto;
}