.projects {
    z-index: 90;
    padding-top: 106px;
    padding-bottom: 56px;
    @include mlView {
        padding-top: 30px;
    }
    @include smView {
        padding-top: 34px;
        padding-bottom: 0px;
    }
    // background: #131313;
    // padding: 150px 0 400px;
    // background-image: url("../img/icons/lines.svg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // &:after {
    //     background-image: url("../img/icons/city.svg");
    //     width: 100%;
    //     content: "";
    //     position: absolute;
    //     height: 776px;
    //     left: 0;
    //     z-index: 23;
    //     bottom: 0;
    // }
}

.projects__container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1235px;
    @include lView {
        width: 550px;
        margin: 0 auto;
        align-items: center;
        //text-align: center;
    }
    @include smView {
        width: 90%;
    }
}

.projects__name-design,
.projects__nav-slider {
    @include lView {
        display: none;
    }
}

.projects__info {
    width: 415px;
    margin-right: 75px;
    padding-top: 67px;
    min-height: 559px;
    display: flex;
    flex-direction: column;
    @include lView {
        padding-top: 0;
        width: 100%;
        margin-right: 0;
        min-height: auto;
    }
}

.projects__title {
    font-family: "yesevaone";
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 22px;
    padding-right: 150px;
    @include lView {
        text-align: center;
        padding-right: 0;
    }
    @include smView {
        font-size: 22px;
        padding: 0 17%;
        line-height: 138.6%;
    }
}

.projects__choice {
    @include lView {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 400px;
        top: 22%;
    }
    @include smView {
        height: 243px;
        top: 31%;
    }
}

.projects__text {
    font-size: 18px;
    line-height: 29px;
    font-family: "futurabookc";
    color: #FFFFFF;
    margin-bottom: 48px;
    @include lView {
        margin-bottom: 470px;
    }
    @include smView {
        margin-bottom: 423px;
        font-size: 14px;
        padding: 0 4%;
        text-align: center;
        line-height: 158.48%;
    }
    @include ssView {
        margin-bottom: 317px;
    }
}

.projects__name-design {
    margin-bottom: 44px;
}

.projects-slide__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.projects__nav-slider {
    margin-top: auto;
}