.wildest {
    background-image: url("../img/bg/bg_can.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 93px;
    max-height: 857px;
    @include lView {
        padding: 50px 0 50px;
    }
    @include smView{
        padding:0;
        padding-bottom: 30px;
        background-image: none;
    }
    .wildest__container {
        width: 1240px;
        position: relative;
        @include lView {
            width: 500px;
        }
        @include smView{
            width: 90%;
        }
    }
    .wildest__title {
        font-size: 27px;
        line-height: 37px;
        color: #E3B873;
        text-align: left;
        margin-bottom: 34px;
        width: 300px;
    }
    .wildest__choice-style{
         @include lView {
            display: none;
        }
    }
    .wildest__title_slider{
        display: none;
        @include lView {
            display: flex;
        }
    }
    .wildest__title_slider{
        text-align: center;
        @include smView{
            font-size: 22px;
            line-height: 138.6%;
        }
    }
    .projects-navigation{
        display: none;
        @include lView {
            display: flex;
        }
    }
    .wildest__choice-wrap{
        width: 100%;
        height: 100%;
        @include lView {
            position: relative;
            right: auto;
            width: 100%;
            height: auto;
            top: auto;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            justify-content: center;
    }
}
}
.wildest__choice-pic {
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 1021px;
    top: 41%;
    transform: translateY(-50%);
    @include lView {
        position: relative;
        right: auto;
        width: 100%;
        height: 100%;
        top: auto;
        transform: translateY(0);
        justify-content: center;
    }
   
}

.furniture-pic__picture {
    display: flex;
    @include lView {
        margin-bottom: 0;
        width: 100%;
        height: 100%;
       
    }
    // &:first-child {
    //     margin-top: 72px;
    //     @include lView {
    //         margin-top: 0;
    //     }
    // }
  
    .furniture-pic__img{
        width: 100%;
        @include lView {
            height: 100%;
        }
    }
}
// .main {
//     padding: 300px 0;
// }