doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/main.min.css')
    title Aviana
  body.body
    .wrapper#wrapper
      include elements/header.pug
      main.main
        include sections/hero.pug    
        .container-wall
          include sections/projects.pug
          include sections/control-camera.pug        
          include sections/types-repair.pug
          include sections/request.pug
        include sections/wildest.pug  
        .container-side      
          include sections/design-project.pug            
          include sections/how-working.pug
          include sections/our-team.pug
          include sections/our-clients.pug    
          include sections/contacts.pug  
      include elements/footer.pug
      .buttons-fixet#btns
          button.buttons-fixet__chance#btn mobile
          a(href="../../index.html").buttons-fixet__back back
    script(src="js/main.min.js")



