doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/main.min.css')
    title Aviana
  body.body
    .wrapper
      //-include elements/header.pug
      main.main
        //-include sections/hero.pug
        //-include sections/projects.pug
        include sections/how-working.pug
        
        

              //- переписать через iframe
        //-include sections/control-camera.pug
        //-include sections/types-repair.pug        
        //-include sections/wildest.pug           
        //-include sections/design-project.pug          
        //-include sections/our-team.pug
        //-include sections/our-clients.pug    
        //-include sections/contacts.pug  

      //- footer.footer
        .footer__container.container
          .logo
            h1.logo__title
              a(href="#").logo__link IC "Repair Design Project"
          nav.nav
            ul.nav-list
              li.nav-list__item
                button(type="button").nav-list__btn home
              li.nav-list__item
                button(type="button").nav-list__btn projects
              li.nav-list__item
                button(type="button").nav-list__btn measurement
              li.nav-list__item
                button(type="button").nav-list__btn team
              li.nav-list__item
                button(type="button").nav-list__btn reviews
              li.nav-list__item
                button(type="button").nav-list__btn contacts
          .phone
            a(href="tel:+79287683239").phone__link +7 (928) 768-32-39
          .request
            .request__btn.btn request a call
    script(type="text/javascript" src="js/main.min.js")



