.clients-list {
    display: flex;
    .clients-list__item {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
    .client {
        padding: 20px 21px 92px 23px;
        background-color: #fff;
        flex: 1;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
        position: relative;
    }
    .client__pic {
        width: 76px;
        height: 76px;
        .client__img {
            border-radius: 50%;
            width: 100%;
        }
    }
    .client__info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .client__name {
        font-family: "yesevaone";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #181818;
        width: 72%;
        padding-right: 30px;
        padding-top: 8px;
    }
    .client__review {
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 180%;
        color: #959595;
    }
    .client__plan {
        position: absolute;
        bottom: -33px;
        left: 0;
        font-family: "yesevaone";
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #E3B873;
        box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
        display: flex;
        .client__meter {
            border-right: 0.75px solid #FFFFFF;
            padding: 17px 20px 17px 65px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 21px;
                background-image: url("../img/icons/size.svg");
                transform: translateY(-50%);
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .client__days {
            padding: 17px 20px 17px 70px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 17px;
                background-image: url("../img/icons/list.svg");
                transform: translateY(-50%);
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}