.contacts {
    background: #181818;
    background-image:  url("../img/icons/lines.svg");
    width: 883px;
    margin: 0 auto;
    padding: 36px 180px;
    position: absolute;
    top: -23%;
    left: 50%;
    transform: translate(-50%);
}

.contacts__title.section-title {
    color: #FFFFFF;
    margin-bottom: 50px;
}

.contacts__form {
    .form__col {
        margin-bottom: 47px;
    }
    .form-contacts__btn {
        padding: 19px 77px;
    }
    .form-contacts__input {
        flex: 1;
        margin-right: 55px;
        &:last-child {
            margin-right: 0;
        }
    }
}


