.container-side{
    //padding: 150px 0 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:after {
        background-image: url("../img/icons/city.svg"), url("../img/icons/LINE.svg");
        background-size: 728px,cover;
        background-repeat: repeat-x,repeat;
        background-position-y: 86%;
        width: 100%;
        content: "";
        position: absolute;
        height: 80%;
        left: 0;
        top: 1049px;
        z-index: -1;
}
&::before {
    background-color: #131313;
    background-image:  url("../img/icons/lines.svg");
    background-repeat:  repeat;
    width: 100%;
    content: "";
    position: absolute;
    height: 1617px;
    left: 0;
    background-position-y: 106%;
    top: 16.5%;
    z-index: -1;
}
}