.form__col {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    &:last-child {
        margin-bottom: 0;
    }
    .form-control__input {
        flex: 1;
        margin-right: 55px;
    }
    .form-control__btn {
        width: 200px;
    }
}