.furniture-pic {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
  flex-direction: column;
  width: 100%;
  @include lView {
    width: 100%;
    height: 100%;
  }
}

.furniture-pic__item {
  margin-bottom: 40px;
  display: flex;
  width: 47.4%;
  @include lView {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
  }
  &:first-child {
    margin-top: 72px;
    @include lView {
      margin-top: 0;
    }
  }
  &:nth-child(2n) {
    margin-bottom: 0;
  }

  .furniture-pic__img {
    width: 100%;
    @include lView {
      height: 100%;
    }
  }
}
