.input {
    font-family: "futurabookc";
    position: relative;
    .input__label {
        font-size: 15px;
        color: rgba(54, 54, 54, 0.5);
        position: absolute;
        top: -4px;
    }
    .input__text {
        font-size: 18px;
        color: #363636;
        border: 0;
        padding: 18px 0 7px;
        outline: 0;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        width: 100%;
        &::placeholder {
            color: #363636;
        }
    }
}

.input_contacts {
    .input__label {
        color: rgba(255, 255, 255, 0.5);
    }
    .input__text {
        color: #FFFFFF;
        background-color: #18181800;
        &::placeholder {
            color: #FFFFFF;
        }
    }
}

.input_request {
    .input__label {
        color: rgba(255, 255, 255, 0.5);
    }
    .input__text {
        color: #FFFFFF;
        background: #13131300;
        &::placeholder {
            color: #FFFFFF;
        }
    }
}