.instagram {
    font-size: 14px;
    line-height: 1;
    color: #E3B873;
    text-transform: uppercase;
    position: relative;
    position: relative;
    width: 80px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #131313;
    .instagram__link {
        height: 100%;
        position: relative;
        display: flex;
    }
    .instagram__rotate {
        transform: rotate(90deg) translate(-100%);
        position: absolute;
        bottom: 55%;
        left: 50%;
        -webkit-transform-origin: 0rem;
        transform-origin: 0rem;
        line-height: 1;
        .instagram__line {
            position: relative;
            display: block;
            &:before {
                content: "";
                position: absolute;
                width: 50px;
                height: 1px;
                background-color: #e3b873;
                top: 50%;
                transform: translateY(-50%);
                right: -67px;
            }
        }
    }
}