.nav-slider {
    display: flex;
    .nav-slider__prev {
        background-image: url("../img/icons/big arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 45px;
        height: 20px;
        transform: rotate(180deg);
        background-position: center;
    }
    .nav-slider__next {
        background-image: url("../img/icons/big arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 45px;
        height: 20px;
        background-position: center;
    }
}