.nav-list {
    display: flex;
    .nav-list__item {
        margin-right: 28px;
        &:last-child{
            margin-right:0;
        }
    }
    .nav-list__btn {
        font-family: "futurabookc";
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 10px;
        &:hover {
            color: #E3B873;
        }
    }
    .active {
        color: #E3B873;
    }
}