.nav-slider {
    display: flex;
    align-items: center;
    .nav-slider__prev {
        background-image: url("../img/icons/big_arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 45px;
        height: 20px;
        transform: rotate(180deg);
        background-position: center;
        transition: 0.3s;
        &:hover {
            transform: rotate(180deg) scale(1.3);
        }
    }
    .nav-slider__next {
        background-image: url("../img/icons/big_arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 45px;
        height: 20px;
        background-position: center;
        transition: 0.3s;
        &:hover {
            transform: scale(1.3);
        }
    }
}