.phone {
    font-family: "futurabookc";
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #E3B873;
    transition: 0.3s;
    &:hover{
        color: #d68400;
    }
    @include mlView{
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration-line: none;
    }

}