.repair-list {
    display: flex;
    .repair-list__item {
        flex: 1;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    .repair__img {
        width: 100%;
    }
}