.section-title {
    font-family: "yesevaone";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    position: relative;
    margin-bottom: 76px;
    @include mView {
        font-size: 22px;
    }
    &_camera::after {
        content: "";
        position: absolute;
        width: 114px;
        height: 30px;
        background-image: url("../img/icons/camer.svg");
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -47px;
    }
    &_types-repair::after {
        content: "";
        position: absolute;
        width: 114px;
        height: 30px;
        background-image: url("../img/icons/tools.svg");
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -47px;
    }
    &_design-project::after {
        content: "";
        position: absolute;
        width: 114px;
        height: 30px;
        background-image: url("../img/icons/pens.svg");
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -47px;
    }
    &_our-team::after {
        content: "";
        position: absolute;
        width: 114px;
        height: 30px;
        background-image: url("../img/icons/people.svg");
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -47px;
    }
    &_our-clients::after {
        content: "";
        position: absolute;
        width: 114px;
        height: 30px;
        background-image: url("../img/icons/hands.svg");
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -47px;
    }
}

.design-project__title,
.our-team__title,
.our-clients__title {
    margin-bottom: 64px;
}

.control-camera__title,
.our-team__title {
    color: #fff;
}