.step-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-bottom: 0;
    padding-top: 56px;
}

.step-list__item {
    width: 33%;
}

.one-step__title {
    font-family: "yesevaone";
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #E3B873;
    margin-bottom: 10px;
    display: inline-table;
}

.one-step__info {
    font-family: "futurabookc";
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.one-step{
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }

}

.active {
    .one-step {
        opacity: 1;
    }
}

.step-list__btn {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
}

.step-list__item {
    margin-bottom: 44px;
}

.step-list__item:nth-child(3n) {
    .step-list__btn {
        margin-left: auto;
        width: 37%;
    }
}

.step-list__item:nth-child(2),
.step-list__item:nth-child(5) {
    .step-list__btn {
        margin: auto;
    }
}