.step {
    .step__title {
        font-family: "yesevaone";
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: #E3B873;
        margin-bottom: 90px;
        padding-right: 145px;
    }
    .step__number {
        font-family: "yesevaone";
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    .step__sub-title {
        font-family: "yesevaone";
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;
        color: #E3B873;
        margin-bottom: 8px;
        padding-right: 112px;
    }
    .step__text {
        font-family: "futurabookc";
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        margin-bottom: 13px;
    }
}