.team-list {
    @extend .repair-list;
    
    justify-content: space-between;
    @include mlView{
       align-items: center; 
    }
    .team-list__item {
        @include mlView{
            margin-bottom: 89px;
         }
         &:last-child {
            @include mlView{
                margin-bottom: 0; 
             }  
         }
    }
    
}