.title-line {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 91px;
        height: 1px;
        background-color: #e3b873;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -127px;
    }
}
.how-working{
    .title-line {
        &::after {
            top: 61%;
            transform: translateY(-50%);
            right: -166px;
        }
    }
}