.video {
    width: 100%;
    height: 435px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    @include mView {
        height: 320px;
    }
    @include ssView {
        height: 222px;
    }
    .control-camera__video {
        width: 100%;
        display: flex;
    }
    .video__control {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .video__play {
        position: absolute;
        width: 86px;
        height: 86px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #E3B873;
        background-image: url("../img/icons/play.svg");
        background-repeat: no-repeat;
        background-position: 56%;
        background-size: 30%;
        transition: 0.3s;
        @include sView {
            width: 37px;
            height: 37px;
            top: 53%;
        }
        &:hover {
            background-color: #d68400;
        }
        &:active {
            background-color: #a08252;
        }
    }
    .control-camera__video {
        width: 100%;
        height: 100%;
        border: 0;
    }
}